#container{
	width: 73%;
	height: 100%;
}

#todoBox{
	width: 23%;
	min-height: 93%;
	position: absolute;
	right: 0px;
	top: 0px;
	margin:10px;
	background-color: #480961;
	border-radius:10px;
	padding:10px;
	overflow-y: auto;
	overflow-x: hidden;
}

ul.list{
	width:100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

ul.list li{
	width:58%;
	min-height: 50px;
	margin:10px;
	background-color: #f7fcac;
	border-radius: 5px;
	padding: 10px 90px 10px 10px;
	font-family:'Indie Flower', cursive;
	font-size: 22px;
	position: relative;
	float: left;
}

ul.list li button{
	width: 40px;
	height: 45px;
	margin:10px;
	transition-duration: 0.5s;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	border: 0px;
	opacity: 100%;
	cursor: pointer;
	background-color:#f7fcac;
	border-radius: 5px;
}

ul.list li button.delete{
	position:absolute;
	right:45px;
	top:0px;
	background-image: url("delete.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

ul.list li button.delete:hover{
	background-color:#f2070f; 
}

ul.list li button.done{
	position: absolute;
	right: 0px;
	top:0px;
	background-image: url("tick.png");
	background-repeat: no-repeat;
	background-size: 80%;
}

ul.list li button.done:hover{
	background-color: #09d102;
}

#addElement{
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 70px;
	width: 70px;
	border-radius: 35px;
	margin: 30px;
	background-color: #dedfe0;
	outline: none;
	border: 0px;
	box-shadow: 2px 4px 4px;
	background-image: url("add.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position:center;
	-webkit-transition:1s ease-in-out;
	-moz-transition:1s ease-in-out;
	-o-transition:1s ease-in-out;
	transition: 1s ease-in-out;	
}

#addElement:hover{
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform: rotate(45deg);
}